<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Swimmer Account</title>
</head>

<body>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <hr>
    {% endif %}
{% endwith %}



<div>
    <h1><i> 'App Name' </i></h1>
</div>

<div>
    <h2> Create Swimmer Account</h2>
</div>


<div>
    <form action="/createAccount" method="POST">
        <div>
            <label for="SE_ID"> Swim England ID: </label>
            <input name="SE_ID" id="SE_ID" type="number" required min="1000" and max="9999999999"/>
            <p> Don't know your Swim England ID? <a href="https://www.swimming.org/swimengland/club-member-check/">Find out here</a></p>
        </div>

        <div>
            <label for="name">Name: </label>
            <input name="name" id="name" type="text"/>
        </div>

        <div>
            <label for="email">Email: </label>
            <input name="email" id="email" type="email"/>
        </div>

        <div>
            <label for="password">Password: </label>
            <input name="password" id="password" type="password" required minlength="9" />
        </div>

        <div>
            <label for="repassword">Re-enter password: </label>
            <input name="repassword" id="repassword" type="password" required minlength="9" />
        </div>

        <div>
            <input type="submit" value="Sign-up" />
        </div>
    </form>
</div>

<p> or </p>
<p> Already have an account? <a href="/login">Sign in</a></p>





</body>

</html>