<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Analysis</title>
</head>

<body>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  <script>
    var short_PBs = {{ short_PBs | tojson }};
    var long_PBs = {{ long_PBs | tojson }};
    var results = {{ results | tojson }};
    var goals = {{ goals | tojson }};
    var race_ID_line = {{ race_ID_line | tojson }};
    var raceName_line = {{ raceName_line | tojson }};
    var course_line = {{ course_line | tojson }};
    var race_ID_scatter = {{ race_ID_scatter | tojson }};
    var raceName_scatter = {{ raceName_scatter | tojson }};
    var course_scatter = {{ course_scatter | tojson }};
  </script>


  <canvas id="shortCourseGoalProgressTracker" style="width:100%;max-width:1000px"></canvas>
  <canvas id="longCourseGoalProgressTracker" style="width:100%;max-width:1000px"></canvas>

  <div id="goalProgressTrackerBarCharts">
    <script>


      const shortEventsBar = [];
      const shortDropPerLengthBar = [];
      const shortBarColours = [];


      for (let i = 0; i < short_PBs.length; i++) {
        shortEventsBar.push(short_PBs[i][0]);

        if (short_PBs[i][4] !== null) {
          shortDropPerLengthBar.push(short_PBs[i][5]);
          shortBarColours.push(short_PBs[i][5] < 0.5 ? [63, 127, 181, 0.2] : [0, 0, 0, 0.1]);
        }
      }



      const shortBar = new Chart(document.getElementById("shortCourseGoalProgressTracker"), {
        type: "bar",
        data: {
          labels: shortEventsBar,
          datasets: [{
            label: "Drop Per Length - Short Course",
            data: shortDropPerLengthBar,
            backgroundColor: shortBarColours.map(colour => `rgba(${colour[0]}, ${colour[1]}, ${colour[2]}, ${colour[3]})`),
            borderColor: shortBarColours.map(colour => `rgba(${colour[0]}, ${colour[1]}, ${colour[2]}, 0.5)`),
            borderWidth: 1,
          }]
        },
      }
      );


      // if (shortDropPerLengthBar.length === 0) {
      //   document.body.insertAdjacentHTML(
      //     "beforeend",
      //     "<p>No valid drop-per-length values found yet.</p>"
      //   );
      // }





      const longEventsBar = [];
      const longDropPerLengthBar = [];
      const longBarColours = [];


      for (let i = 0; i < long_PBs.length; i++) {
        longEventsBar.push(long_PBs[i][0]);

        if (long_PBs[i][4] !== null) {
          longDropPerLengthBar.push(long_PBs[i][5]);
          longBarColours.push(long_PBs[i][5] < 1 ? [63, 127, 181, 0.2] : [0, 0, 0, 0.1]);
        }
      }




      const longBar = new Chart(document.getElementById("longCourseGoalProgressTracker"), {
        type: "bar",
        data: {
          labels: longEventsBar,
          datasets: [{
            label: "Drop Per Length - Long Course",
            data: longDropPerLengthBar,
            backgroundColor: longBarColours.map(colour => `rgba(${colour[0]}, ${colour[1]}, ${colour[2]}, ${colour[3]})`),
            borderColor: longBarColours.map(colour => `rgba(${colour[0]}, ${colour[1]}, ${colour[2]}, 0.5)`),
            borderWidth: 1,
          }]
        },
      }
      );

    </script>
  </div>

  <br><br><br><br>







  <div>
    <form action="/chooseDisplayedEvent_Line" method="POST">
      <fieldset>
        <legend>Change event displayed below: </legend>

        <label for="race_ID">Choose an event:</label>
        <select id="race_ID" name="race_ID">
          <option value="1">50 Freestyle</option>
          <option value="2">100 Freestyle</option>
          <option value="3">200 Freestyle</option>
          <option value="4">400 Freestyle</option>
          <option value="5">800 Freestyle</option>
          <option value="6">1500 Freestyle</option>
          <option value="7">50 Breaststroke</option>
          <option value="8">100 Breaststroke</option>
          <option value="9">200 Breaststroke</option>
          <option value="10">50 Butterfly</option>
          <option value="11">100 Butterfly</option>
          <option value="12">200 Butterfly</option>
          <option value="13">50 Backstroke</option>
          <option value="14">100 Backstroke</option>
          <option value="15">200 Backstroke</option>
          <option value="16">200 IM</option>
          <option value="17">400 IM</option>
          <option value="18">100 IM</option>
        </select>

        <br>

        <label for="course">Choose a course:</label>
        <select id="course" name="course">
          <option value="S">Short Course</option>
          <option value="L">Long Course</option>
        </select>

        <br>

        <input type="submit" value="Change Event" />

      </fieldset>
    </form>
  </div>



  <br><br>




  <script>
    document.write("<h3>Event Progression for: " + raceName_line + " (" + course_line + ")</h3>");
  </script>

  <canvas id="shortCourseEventProgression" style="width:100%;max-width:1000px"></canvas>

  <div id="eventProgressionLineGraphs">
    <script>

      const resultsLine = [];
      const dateLine = [];
      const resultPoints = [];
      const pointColours = [];

      const goalList = [];

      if (race_ID_line === null) {
        race_ID_line = 1;
      }
      const allResults = results[race_ID_line - 1];
      const goal = goals[race_ID_line - 1];


      for (let i = 0; i < allResults.length; i++) {
        dateLine.push(allResults[i][1]);
        resultsLine.push(allResults[i][0]);
      }

      if (resultsLine.length === 0) {
        document.write("<p>You don't have any times for this event yet!</p>");
      }


      function colourPBs() {

        if (resultsLine.length === 0) {
          return;
        }

        let currentPB = resultsLine[0];

        for (let i = 0; i < resultsLine.length; i++) {
          if (resultsLine[i] < currentPB) {
            currentPB = resultsLine[i];
            pointColours.push([63, 127, 181]);
          } else {
            pointColours.push([0, 0, 0]);
          }
        }
      }



      colourPBs();



      if (goal !== null && resultsLine.length > 0) {
        dateLine.push("Goal");
        for (let i = 0; i < (resultsLine.length - 1); i++) {
          goalList.push(null);
        }
        goalList.push(resultsLine[resultsLine.length - 1]);
        goalList.push(goal);
      }




      const shortLine = new Chart(document.getElementById("shortCourseEventProgression"), {
        type: "line",
        data: {
          labels: dateLine,
          datasets: [{
            label: "Result",
            data: resultsLine,
            backgroundColor: pointColours.map(colour => `rgba(${colour[0]}, ${colour[1]}, ${colour[2]}, 0.8)`),
            fill: false,
            borderColor: pointColours.map(colour => `rgba(${colour[0]}, ${colour[1]}, ${colour[2]}, 0.5)`),
            borderWidth: 1,
            tension: 0.2,
            pointRadius: 3.5,
          }, {
            label: "Goal",
            data: goalList,
            borderColor: "rgba(106, 173, 125, 0.9)",
            backgroundColor: "rgba(106, 173, 125, 0.9)",
            fill: false,
            borderWidth: 1,
            borderDash: [4, 3],
            tension: 0.2,
            pointRadius: 4,
          }, {
            label: "Personal Bests",
            borderColor: "rgba(63, 127, 181, 1)",
            borderWidth: 1,
            backgroundColor: "rgba(63, 127, 181, 0.5)",
          },
          ],
        }
      }
      );


    </script>
  </div>

  <br><br><br><br>











  <div>
    <form action="/chooseDisplayedEvent_Scatter" method="POST">
      <fieldset>
        <legend>Change event displayed below: </legend>

        <label for="Scatter_race_ID">Choose an event:</label>
        <select id="Scatter_race_ID" name="Scatter_race_ID">
          <option value="1">50 Freestyle</option>
          <option value="2">100 Freestyle</option>
          <option value="3">200 Freestyle</option>
          <option value="4">400 Freestyle</option>
          <option value="5">800 Freestyle</option>
          <option value="6">1500 Freestyle</option>
          <option value="7">50 Breaststroke</option>
          <option value="8">100 Breaststroke</option>
          <option value="9">200 Breaststroke</option>
          <option value="10">50 Butterfly</option>
          <option value="11">100 Butterfly</option>
          <option value="12">200 Butterfly</option>
          <option value="13">50 Backstroke</option>
          <option value="14">100 Backstroke</option>
          <option value="15">200 Backstroke</option>
          <option value="16">200 IM</option>
          <option value="17">400 IM</option>
          <option value="18">100 IM</option>
        </select>

        <br>

        <label for="Scatter_course">Choose a course:</label>
        <select id="Scatter_course" name="Scatter_course">
          <option value="S">Short Course</option>
          <option value="L">Long Course</option>
        </select>

        <br>

        <input type="submit" value="Change Event" />

      </fieldset>
    </form>
</div>




  <br><br>

  <script>
    document.write("<h3>Event Progression for: " + raceName_scatter + " (" + course_scatter + ")</h3>");
  </script>



  <canvas id="goalPredictionScatter" style="width:100%;max-width:1000px"></canvas>

  <div id="scatterGraphs">
    <script>

      const resultsScatter = [];
      const dateScatter = [];

      const allResults_scatter = results[race_ID_scatter - 1] || [];
      const goalScatter = goals[race_ID_scatter - 1];
      const minyAxis = (goalScatter - 5);


      for (let i = 0; i < allResults_scatter.length; i++) {
        dateScatter.push(allResults_scatter[i][1]);
        resultsScatter.push(allResults_scatter[i][0]);
      }


      if (resultsScatter.length === 0) {
        document.write("<p>You don't have any times for this event yet!</p>");
      }


      const goalDates = [dateScatter[0], moment(dateScatter[dateScatter.length - 1], "DD/MM/YY").add(1, "year").format("DD/MM/YY")];
      const goalTimes = [goalScatter, goalScatter];





      const scatter = new Chart(document.getElementById("goalPredictionScatter"), {
        type: "line",
        data: {
          datasets: [{
            label: "Result",
            data: dateScatter.map((date, index) => ({ x: date, y: resultsScatter[index] })),
            backgroundColor: "rgba(63, 127, 181, 0.8)",
            fill: false,
            borderWidth: 0,
            borderColor: "rgba(225, 225, 225, 0)",
            pointRadius: 3.5,
          }, {
            label: "Goal",
            data: goalDates.map((date, index) => ({ x: date, y: goalTimes[index] })),
            backgroundColor: "rgba(106, 173, 125, 0.9)",
            fill: false,
            borderWidth: 1,
            borderColor: "rgba(106, 173, 125, 0.9)",
            pointRadius: 0,
          }
          ],
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                min: minyAxis,
              }
            }],
            xAxes: [{
              type: "time",
              distribution: "linear",
              time: {
                parser: "DD/MM/YY",
                unit: "month",
                stepSize: 1,
                displayFormats: {
                  month: "MMM YYYY"
                },
                tooltipFormat: "DD/MM/YY"
              },
            }]
          }
        }
      }
      );



    </script>
  </div>






  <a href="/home">Home</a>



</body>

</html>