<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swimmer Login</title>
</head>

<body>

<div>
    <h1><i> 'App Name' </i></h1>
</div>

<div>
    <h2>Swimmer Login</h2>
</div>

<div>
    <form>
         <div>
            <label for="SE_ID"> Swim England ID: </label>
            <input name="SE_ID" id="SE_ID" type="number" required min="100" and max="9999999999"/>
            <p> Don't know your Swim England ID? <a href="https://www.swimming.org/swimengland/club-member-check/">Find out here</a></p>
        <div>
            <label for="email">Email: </label>
            <input name="email" id="email" type="email"/>
        </div>

        <div>
            <label for="password">Password: </label>
            <input name="password" id="password" type="password" required minlength="9" />
        </div>

        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</div>

<p> or </p>
<p> Don't have an account? <a href="createAccount.html">Sign up</a></p>

</body>
</html>